/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .thumb_vid_wrapper{
        width: 33.33333333333%;
    }

    .content_part {
        padding-left: 60px !important;
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    i.up_video , div.braille , i.notification{
        display: none;
    }

    .profile_wrapper{
        width: unset;
    }

    .play_page_left{
        margin: 0 auto;
    }
    
    .thumb_vid_wrapper {
        width: 50%;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
    .left_menu_wrapper{
        display: none;
    }

    .content_part{
        margin-left: 0px;
    }

    .bars_div{
        display: none;
    }

    .play_page_left{
        width: 85%;
    }

    .play_page_right{
        width: 85%;
    }

    .play_page_right .thumb_vid_wrapper {
        width: 85%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    div.search_wrapper{
        display: none;
    }

    i.header_right_search{
        display: inline-block;
    }

    i.up_video , i.notification{
        display: unset;
    }

    .profile_wrapper{
        width: 110px;
    }

    .thumb_vid_wrapper {
        width: 100%;
    }

    .user_profile{
        display: none;
    }

    .play_page_left{
        width: 100%;
    }

    .play_page_right{
        width: 100%;
    }

    .play_page_right .thumb_vid_wrapper {
        width: 100%;
    }

    .content_part{
        padding: 10px !important;
    }

    .subscribe_wrapper img{
        width: 180px;
    }


}

/* Very small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {

    .play_page_container {
        width: 300px;
    }

    .play_page_left {
        position: sticky;
        top: 58px;
        z-index: 99;
        background: var(--mainbg);
    }
}
